@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";


body {
  background-color: $pt-app-background-color;

  &.bp3-dark {
    background-color: $pt-dark-app-background-color;
  }
}

.App {
  text-align: center;
}

.navbar-group-mobile {
  display: none;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 100px;

  .sidebar-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }

  button {
    padding-top: 50px;
    padding-bottom: 10px;
    
  }
}

.form-container {
  max-width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.login-links-container {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.error-login-dialog {
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .navbar-group-desktop {
    display: none;
  }

  .navbar-group-mobile {
    display: flex;
  }

}